h1 {
    text-align: center;
    color: #011010;
    font-size: 60px;
}
* {
    text-align: center;
    margin: 10px;
    background-color: rgb(86, 206, 186);

}
.content {
    border: #011010 solid;
    background-color: aquamarine;
    margin-top: 90px;
}
a {
    font-size: 30px;
    background-color: aquamarine;
}
li {
    font-size: 20px;
    background-color: aquamarine;
}
